[2014-04-02 17:55] markstos opened #2 "wish: document which ISO 3166-1 variant is supported"
Thanks for this module.

The documentation could be improved by documenting that this module deals with 2 letter "ISO 3166-1 alpha 2" country codes.

This distinguishes them from "ISO 3166-1 alpha 3" codes which have 3 characters:

https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3

(In my case, I have a 3 letter code that I want to convert to a 2 letter code. I'm not sure if that's something that w

[2014-04-03 11:35] #2 closed, assigned to nobody

[2016-06-01 01:22] theogravity opened #20 "Numeric code with starting zeros does not return three digits"
`countries.alpha2ToNumeric('AL')` returns `8` instead of `008`

[2016-06-02 10:49] #20 closed

[2016-06-02 10:51] michaelwittig commented on #20
Released as version 1.0.0 because it breaks old behavior (Number -> String)

[2016-06-29 12:43] Spy-Seth opened #24 "Dynamic require incompatible with bundler (browserify, webpack...)"
Recently change the way you load the lang file: https://github.com/michaelwittig/node-i18n-iso-countries/blob/7ede69e23f1af3771f7a49d63617b6141afae5df/index.js#L7-L10

Now you use a loop on all the defined code. Theses dynamics `require` call cannot be interpreted by code bundler (browserify or webpack). It's break the library: the `./langs/*.json` are not bundled with the application so loading o

[2016-06-30 09:09] #24 closed

[2016-06-30 09:10] michaelwittig commented on #24
released as i18n-iso-countries@1.2.1

[2016-06-30 09:52] Spy-Seth commented on #24
Thanks for the fix.

[2016-10-07 10:55] folivi opened #31 "Sort countries by name"
Hi,
is there any easy way to sort the return of getNames by the value of the country name?

[2016-10-28 07:51] thesbros commented on #31
They should already be sorted alphabetically. What are you looking to sort them by?

[2016-11-01 12:10] folivi commented on #31
Unless I'm wrong I think countries are sorted by country code.
I had to this to get the list sorted by the country name for a given locale.

[code]

[2016-11-21 22:43] vpithart opened #33 "USA should have 'of America' in its english name"
I propose to set change english name from
`"US": "United States"`
to
`"US": "United States of America"`

When using this library for search-as-you-type in 'select country' form input in english, entering `america` only shows `American Samoa` which looks weird.

I offer to create a branch and PR here if you permit me, or see attached diff.

[i18n-countries-USA-name-fix.diff.txt](https://github.com/

[2016-11-22 06:12] michaelwittig commented on #33
Hi @vpithart I released your change as i18n-iso-countries@1.7.1

[2016-11-22 06:12] #33 closed

[2016-11-22 06:13] vpithart commented on #33
Thanks @michaelwittig for prompt reaction!

[2017-01-13 17:10] qqilihq opened #36 "Possibility to load only specified languages?"
This module looks awesome and I would like to replace our self curated languages lists with it.

As I would like to use it in our web apps, my question: Is it possible to load only specified languages instead of the entire list? We would currently only require two languages and I would like to save transfer bandwidth.

[2017-01-13 17:57] vpithart commented on #36
Yes, there is a way.

package.json
`"i18n-iso-countries": "^1.7.1"`

webpack.common.js. in module.exports:
[code]

This way, only `en` and `fr` are webpacked. Footprint shrinks from 402 kB (all languages) to 118kB.

[2017-01-13 18:06] qqilihq commented on #36
Thank you, vpithart! We're (still?!) using Browserify though, is there a similar mechanism?

[2017-01-13 18:17] vpithart commented on #36
Don't know, sorry. Perhaps an impulse to switch to webpack?

[2017-01-13 18:26] qqilihq commented on #36
Most definitely :)

[2017-01-29 10:50] #36 closed

[2017-01-29 10:50] #31 closed

[2017-01-29 11:38] gerwinbrunner opened #39 "Error: Cannot find module './codes.json'"
I just installed `i18n-iso-countries `
and get thee following error:

[code]

[2017-01-29 11:42] gerwinbrunner commented on #39
Seemed to be an installation issue on my end.
After whipping the node_modules folder it worked.

[2017-01-29 11:43] #39 closed

[2017-02-15 02:15] djowinz opened #40 "South Korea / North Korea"
Can you please handle the non-specific case of when using South Korea vs North Korea, instead of having to use the much more non-common standard of "Korea, Peoples Republic Of".

[2017-02-23 11:04] qusiba opened #41 "'ANT'"
https://en.wikipedia.org/wiki/Antigua_and_Barbuda_at_the_Olympics

[2017-02-23 11:58] michaelwittig commented on #41
what's your intention?

[2017-02-23 11:58] #41 closed

[2017-06-15 10:26] FKSI opened #47 "Handle BCP47 Standard"
The [BCP47 Standard](https://msdn.microsoft.com/en-us/library/ms533052(v=vs.85).aspx) is the one where the locale is represented as follow:

`language`-`region`

For example: us-EN, us-UK

This great lib should handle that case. A simple `split('-')[0]` can do the trick

[2017-08-02 00:38] kmiyashiro opened #50 "Exceptional reservations not included"
There are a few exceptional reserved codes that have been assigned and should be used to allow users to choose. I'm not sure if these should be optional or a separate module, but some transitional codes are still useful because they need to be chosen for VAT purposes etc (like the Canary Islands).

https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Reserved_code_elements

[2017-08-08 15:29] jaehl opened #53 "get*Codes() are documented as returning arrays"
The documentation for `getAlpha2Codes()`, `getAlpha3Codes()`, and `getNumericCodes()` say they return arrays, but they actually return objects mapping to/from alpha-2 codes.

[2017-08-09 07:26] #53 closed

[2017-08-09 07:27] michaelwittig commented on #53
fix includes in `i18n-iso-countries@1.15.1`

[2017-08-21 07:45] henhal opened #56 "Handle withdrawn ISO-3166 codes"
On the referenced Wikipedia page there is a section with withdrawn codes: https://en.wikipedia.org/wiki/ISO_3166-1_numeric#Withdrawn_codes

I found myself getting data from a customer containing some of these withdrawn codes.
Is there any reason not to include these as well? There should be no conflicts between current and withdrawn codes so I don't see any harm in returning data for a code that i

[2017-08-22 13:24] michaelwittig commented on #56
Hi @henhal ,

I'm happy to accept your PR. I would prefer the first suggestion: config global and immutable:

[code]

[2017-08-24 08:05] henhal commented on #56
Hi @michaelwittig

It turns out this was way more complex than anticipated. There are a number of withdrawn codes (https://en.wikipedia.org/wiki/ISO_3166-1_numeric#Withdrawn_codes), but the fate of these codes varies. While it would be possible to include mapping of these withdrawn codes to the country names at use at time of withdrawal, I fear this will make the data somewhat inconsistent.

The I

[2017-08-24 08:05] #56 closed

[2017-08-24 10:49] michaelwittig commented on #56
@henhal thanks for the detailed explanation! I agree with your conclusion.

[2017-08-29 09:56] pepe79 opened #57 "Greek language code gr vs. el"
Hello,

since a few days greek is supported as language, using the getName(country, language) function. But I wonder why the language code was renamed from el to gr in this commit:

https://github.com/michaelwittig/node-i18n-iso-countries/pull/51/commits/a33123162d6287ec1451bd85cd6c75c7f6d6998d

I thought that ISO_3166-1 define countries and e.g. iso 639 define language codes? Since you can also p

[2017-08-29 11:25] michaelwittig commented on #57
the language should follow https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

as you said: `el`  is correct, not `gr`

[2017-08-29 11:25] #57 closed

[2017-08-29 11:27] michaelwittig commented on #57
released as `i18n-iso-countries@2.0.0`

since this is a breaking change we are now on version 2 :)

[2017-08-29 11:29] pepe79 commented on #57
sorry about that :)

[2017-09-07 09:36] minotogna opened #58 "Belarus in Russian is incorrect"
The correct Russian translation for Belarus is Беларусь and not Белоруссия .
could this be fixed?
Thank you

[2017-09-15 12:45] sinzen opened #60 "Uses includes for Angular 2/4?"
Hi,

My question is can I use this library on angular project?

I have this error on compilation:
`You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected token (2:6)` on `i18n-iso-countries/langs/ar.json Unexpected token (2:6)
`

Thanks

[2017-09-19 15:01] michaelwittig commented on #60
Actually, I have no idea :) I'm not an user of Angular 2 or 4. If anyone else has any idea what is needed, please let us know.

[2017-09-19 15:03] #58 closed

[2017-09-19 15:06] michaelwittig commented on #58
Thanks @minotogna

Fix contained in `i18n-iso-countries@2.1.0`

[2017-09-19 15:13] #40 closed

[2017-09-19 15:14] michaelwittig commented on #40
released as `i18n-iso-countries@2.1.1`

[2017-09-20 11:16] minotogna commented on #58
Thank you @michaelwittig for the fix!

[2017-09-26 04:09] robksawyer opened #61 "Issue loading with Webpack 3.5.5"
This might be a config issue on my side, but thought I'd mention it.

[code]

Any ideas how to resolve?

[2017-09-29 08:20] timbertus opened #62 "Missing country code 'IC'"
The country code for the Canary Islands is currently not supported by the library.

[2017-09-29 11:17] michaelwittig commented on #62
can you provide a source which mentions that IC is a ISO 3166 country code? I can't find it.

[2017-09-29 11:39] timbertus commented on #62
I only found a german source on Wikipedia: https://de.wikipedia.org/wiki/ISO-3166-1-Kodierliste

[2017-10-02 13:23] michaelwittig commented on #62
It says: "Exceptionally reserved code in ISO 3166-1. This code exists only for use in other standards (for example SWIFT code) and **should not be used for coding according to ISO 3166-1**."

[2017-10-10 09:20] Ephys opened #63 "Optimizing for browsers"
This is a really cool library but bundling it for usage in a browser results in a massive bundle (146KB for a bundle containing only this library, post-minification, pre-gzip).

Optimizing it wouldn't be too hard and, even while it would require a tiny bit more work on the developers that use this library I believe it would be definitely worth it.

---

First optimization that can be done is not l

[2017-10-10 09:27] michaelwittig commented on #63
PR is very welcomed. Your knowledge is way higher than mine on that topic

[2017-10-10 09:36] Ephys commented on #63
Perfect, I'll do it as soon as possible!

[2017-10-10 12:09] Ephys commented on #60
@sinzen That sounds like a webpack configuration error. If you're using webpack 1 you need to add [`json-loader`](https://github.com/webpack-contrib/json-loader), in webpack 2 it is loaded by default.

Also make sure the file isn't excluded from being processed by webpack in your configuration.

[2017-10-11 08:24] Ephys commented on #63
Merged :)

[2017-10-11 08:24] #63 closed

[2017-10-19 16:29] michaelwittig commented on #61
could you try the new 3.x release that includes #64

[2017-10-19 16:30] michaelwittig commented on #60
could you try the new 3.x release that includes #64

[2017-10-19 16:31] michaelwittig commented on #62
this is related to #50

[2017-10-19 16:31] #62 closed

[2017-10-22 09:08] swftvsn commented on #60
Yes you can.

I think we should work out nicer way to include select language files to Angular apps, but for now one can use this:

First, declare System and import i18n-iso-countries:

[2017-10-24 17:53] AlexKlim commented on #61
the same issue for the 3.2.0 version

[2017-10-26 07:01] michaelwittig commented on #61
@Ephys are you also using webpack oder something else?

[2017-10-26 09:04] Ephys commented on #61
@michaelwittig I do, @AlexKlim @robksawyer could we have your webpack configuration so we can see if we can reproduce the problem?

[2017-11-04 02:06] exogen opened #70 "Add alternate / shorter names?"
Hi @michaelwittig!

I was using this library and figured I'd let you know why I had to switch to another library for ISO 3166 lookup, in case there is an opportunity for improvement.

So far as I can tell, the actual ISO specification does indeed list the name for the US as "United States of America", and I see the issue #33 where this was changed. The problem is that every other ISO 3166 library

[2017-12-06 16:56] forethoughtde opened #72 "I see weird characters in countries name in German language"
Can I know why do I receive weird characters in countries name in German language?

SÃ¼dafrika
SÃ£o TomÃ© und PrÃ­ncipe
SÃ¼dsudan
Russische FÃ¶deration
SÃ¼dkorea
FranzÃ¶sisch-Guayana
Vereinigtes KÃ¶nigreich GroÃbritannien und Nordirland

Have anyone experienced this problem?

[2017-12-07 16:49] michaelwittig commented on #72
where do yo use this characters? in your app, editor, ...

[2017-12-07 17:06] forethoughtde commented on #72
In my website. It was because I did not use the meta for charset.

`html
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
`

[2017-12-07 17:06] #72 closed

[2018-01-02 13:56] minotogna opened #73 ""Libya" has become "State of Libya""
Hello Michael,

Please, take note that "Libya" has become "State of Libya".
Would it be possible to update it?

Thank you,
Mino

[2018-01-03 18:39] piranna opened #74 "List of country codes"
Add function to fetch list of country codes, something similar to

[code]

[2018-01-04 16:55] michaelwittig commented on #74
Something like this?

[code]

[2018-01-04 17:00] michaelwittig commented on #73
The countries names are not the official names, but the names that are usually used.

E.g. I live in Germany which officially is called Federal Republic of Germany, but no one uses the long name.

If I understand correctly, the same is true with Libya?

[2018-01-04 17:58] minotogna commented on #73
Yes, you are right.

I got confused for a moment; let me explain you why.

Since i work for an intergovernmental organization, we received a communication from their government to use the official name everywhere they are mentioned, including software.

At the same time, we have also received instructions from our communication department we must use the official names that they (the comm. dep.) p

[2018-01-04 19:31] piranna commented on #74
Yeah, `Object.keys()` is a solution, but since data is already being processed from the JSON, I find it would be good to also offer natively the list of country codes :-)

[2018-01-05 13:37] #73 closed

[2018-02-07 13:00] abelosorio opened #77 "Add method `isValid`"
I need a method to validate a country code. Currently I'm doing `toAlpha3(code) !== undefined`. But I'd prefer that logic to be encapsulated into the `node-i18n-iso-countries` package and to call a simple `isValid` method.

[2018-02-07 13:03] abelosorio commented on #77
I wrote the method, including tests and changes on README but I don't have any permissions to create the PR. Is there any way to submit it?

Thanks

@michaelwittig

[2018-02-07 13:34] michaelwittig commented on #77
Hi @abelosorio why don't you have permissions to open a PR? You fork this repo and and push your changes usually in a branch != master and then you can open a PR?

If this doesn't work, feel free to send me the patch to post@michaelwittig.info

[2018-02-07 13:42] abelosorio commented on #77
Oh OK thanks @michaelwittig. I haven't done this before.

Thanks.

[2018-02-07 13:49] abelosorio commented on #77
Done @michaelwittig :point_up:

Let me know if it needs any change.

Cheers.

[2018-02-07 15:39] michaelwittig commented on #77
Great. I added a small comment to your pull request.

[2018-02-07 18:38] #77 closed

[2018-02-10 13:43] serhiipalash opened #79 "Feature request: add language names"
Hi! You have a great library!

Is it possible to add language names translations to your library or you only work  with country names?

It would be great to add this data with similar api https://www.loc.gov/standards/iso639-2/php/code_list.php

[2018-02-11 10:35] michaelwittig commented on #79
Hi @serhiipalash I believe that's out of scope for the project.

We focus on returning a country name (using ISO 3166-1 country codes to identify the country) for a language (using ISO 639-1 codes to identify the language).

[2018-02-11 10:35] #79 closed

[2018-02-11 12:30] serhiipalash commented on #79
Ok thanks.

[2018-02-12 23:48] WaSa42 opened #80 "ISO 3166-2 subdivision codes"
Is it possible to complete the list with some essential ISO 3166-2 subdivision codes like https://en.wikipedia.org/wiki/ISO_3166-2:GB
* GB-ENG - England
* GB-NIR - Northern Ireland
* GB-SCT - Scotland
* GB-WLS - Wales

I can make a PR if this is something you want to add.

[2018-02-13 06:59] michaelwittig commented on #80
HI @WaSa42 I believe that's out of scope for the project.

We focus on returning a country name (using ISO 3166-1 country codes to identify the country) for a language (using ISO 639-1 codes to identify the language).

But I believe that this would be a good idea for a new npm package!

[2018-02-13 06:59] #80 closed

[2018-02-16 16:46] e110c0 commented on #79
@michaelwittig would you mind a fork of i18n-iso-countries for exactly that purpose? (so i18n-iso-languages)

I like the interface and the 639 packages available are all focussed on language names in English and in "native", which does not always is enough

[2018-03-22 12:37] raduchiriac opened #83 "Macedonia's "en" value"
What's the status or the explanation for this string?

https://github.com/michaelwittig/node-i18n-iso-countries/blob/dfdb0003774c74b97d7847d1627de859f57f00ba/langs/en.json#L129

[2018-03-29 07:15] timothyarmes opened #84 "Alphabetical country list"
Hi,

It would be nice to have a function to return an array of country names, with their codes, sorted alphabetically by the locale. Useful for drop down lists.

[2018-03-29 07:34] timothyarmes commented on #84
Actually I think that this is so simple for us to do that it makes no sense to have it in the library. ..

[code]

[2018-03-29 07:34] #84 closed

[2018-04-07 06:27] wwwjun opened #85 "In zh.json, "义大利" for "IT" is not right，it should be "意大利"."
"IT": "意大利"

[2018-04-16 16:34] uberMetrics opened #87 "IsValid is not correctly working"
Why isValid return true for the string '...' ?

`i18nIsoCountries.isValid('...') // return true`

[2018-04-16 17:06] RamyRais commented on #87
https://github.com/michaelwittig/node-i18n-iso-countries/pull/88

[2018-04-19 07:44] michaelwittig commented on #87
Thanks! released as `i18n-iso-countries@3.6.2`

[2018-04-19 07:44] #87 closed

[2018-05-11 20:32] amedeiros opened #89 "getNames returns empty object in Vue.js"
Using this library for a form in a Vue.js application the following `getNames` function call returns an empty object, however, the rest of the functions seem to work as expected.

[code]

[2018-05-11 20:49] amedeiros commented on #89
I guess it would help if I had loaded the locals first!

[2018-05-11 20:49] #89 closed

[2018-05-31 14:45] ugultopu opened #92 "Wrong documentation"
[code]

This is not working. It is returning empty object. You need to configure a locale in order for it to work:

[code]

Documentation is wrong.

[2018-06-01 10:29] michaelwittig commented on #92
Are you using the module in a Node or browser environment?

[2018-06-01 11:31] ugultopu commented on #92
Browser. With React.

On Fri, Jun 1, 2018, 7:29 AM Michael Wittig <notifications@github.com>
wrote:

[2018-06-15 08:00] ExNG opened #95 "[PULL] Add a better way to register locales"
Hello,

i noticed that my code using your package was returning an empty Dict:
[code]

And so i was wondering what changed, it may be that i updated your package and something broke,
so looked into your code and saw that `registeredLocales` is by default empty and you have to "import" languages by require.
Would you be interested for me to create a pull request which adds a method like following:

[2018-06-18 07:50] michaelwittig commented on #95
I like the `import` idea and I'm happy to merge this change

[2018-06-18 07:54] #92 closed

[2018-06-21 09:50] lippomano opened #97 "Angular 6 need to register locale to make it works"
I am using node.js (Angular 6) but I need to register the locale data if I want to use it.
Is it correct?

I need to translate it into multiple languages, I can't register only 2 languages.

[2018-06-26 11:28] #95 closed

[2018-06-26 11:29] michaelwittig commented on #97
You can call the `registerLocale` function as often as you like with one of the values from this list: https://github.com/michaelwittig/node-i18n-iso-countries#supported-languages-iso-639-1

[2018-06-26 11:29] #97 closed

[2018-06-26 21:32] AugustusZ opened #98 "Getting compiling warning with v3.7.0"
Getting this warning since updated to 3.7.0:

[code]

Is there a way to ignore this warning? Thanks!

[2018-06-27 07:27] CryptoMeerkat opened #99 "Getting compilation error with version 3.7.0: UglifyJs fails"
Hi there,

we are using i18n-iso-countries with webpack. Maybe someone else stumbles upon this and receives the following:
[code]

We had now one day broken builds because of that. The reason was, that in our `package.json` we allowed also minor version upgrades with `"i18n-iso-countries": "^3.6.2"`. Changing it to "i18n-iso-countries": "~3.6.2" to ensure only patching is done and it stays at vers

[2018-06-27 07:50] pontusvision opened #100 "Failed to minify the code from this file: ./node_modules/i18n-iso-countries/index.js:46"
version 3.7.0 seems to be missing ES5 libs, and is causing minify issues as described here:

https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

[2018-06-27 11:29] michaelwittig commented on #99
duplicate of #98

[2018-06-27 11:29] #99 closed

[2018-06-27 11:30] michaelwittig commented on #100
is this related to #98 ?

[2018-06-27 11:33] michaelwittig commented on #98
The only change from 3.6.3 3.7.0 was this: https://github.com/michaelwittig/node-i18n-iso-countries/commit/060eab6957f78534e7f1fe1b4fc7f734d8e2e474#diff-168726dbe96b3ce427e7fedce31bb0bc

Is import a reserved word or something? @ExNG

[2018-06-27 14:23] CarloPalinckx commented on #70
Same goes for the translation of Luxembourg in `nl_NL`. It is printed as `Luxemburg, Groot-Hertogdom` instead of just `Luxemburg`. @exogen which library did you switch to if I may ask?

[2018-06-27 16:32] exogen commented on #70
@CarloPalinckx Sure, I ended up going with [country-list](https://www.npmjs.com/package/country-list) for my use case

[2018-06-27 18:01] ExNG commented on #98
Thats not the case.

When registering a locale the user needs to require a json file which would've been done outside the lib, but i suggested a change thta would move this into the lib.
See:

[code]

now Uglify tries to bundle this require but cant because of the parameter being evaluated in the runtime. A possible fix for that warning would be to require all json and then register the one wished

[2018-06-28 07:30] pontusvision commented on #100
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;} Yes, I believe it is.                                                                                                                                                                          From: notifications@github.comSent: 27 June 2018 12:30 p.m.To: node-i18n-iso-countries@noreply.github.comReply to: reply@rep

[2018-06-29 05:13] zlzdp opened #102 "not have Thai countries data?"
for Thailand,
pls.

ths.

[2018-06-29 05:13] zlzdp commented on #102
th.json

[2018-06-29 05:20] zlzdp opened #103 "not have Vietnamese language countries data?"
not have vi.json,
pls.

ths.

[2018-06-30 15:13] bubenkoff opened #104 "3.7.0: Warning with webpack"
[code]

[2018-07-02 11:52] #70 closed

[2018-07-02 11:53] michaelwittig commented on #98
so the issue title should be that UglifyJs does not work with the way we import languages?

[2018-07-02 11:56] michaelwittig commented on #100
duplicate

[2018-07-02 11:56] #100 closed

[2018-07-02 11:57] michaelwittig commented on #102
feel free to open a PR if you need support for additional languages.

[2018-07-02 11:57] #102 closed

[2018-07-02 11:57] michaelwittig commented on #103
feel free to open a PR if you need support for additional languages.

[2018-07-02 11:57] #103 closed

[2018-07-02 11:57] michaelwittig commented on #104
related to #98 ?

[2018-07-02 14:33] bubenkoff commented on #104
yes, thanks, it's a duplicate

[2018-07-02 14:33] #104 closed

[2018-07-02 19:34] enzolutions opened #105 "import is not a function v 3.7.1"
I am using release 3.7.1 and I am trying to use the import function, but I got the error

**import is not a function**

Checking the index.d.ts looks like the mapping to that function is missing

[code]

[2018-07-04 17:02] #85 closed

[2018-07-04 17:06] michaelwittig commented on #105
is this also related to 98 ?

[2018-07-04 17:07] #105 closed

[2018-07-04 17:08] michaelwittig commented on #105
released as `i18n-iso-countries@3.7.2`

[2018-07-04 19:17] hiro5id opened #107 "Getting compile errors with 3.7.2 using tsc"
It works fine on 3.7.1 but 3.7.2 gives following compile errors:

[code]

[2018-07-05 08:31] swftvsn commented on #107
Same here..

[2018-07-05 09:12] llulani commented on #107
In [#105](https://github.com/michaelwittig/node-i18n-iso-countries/issues/105) they have (re)introduced import function which should be a reserved word from es6 on and typescript.

In index.d.ts:

`export function import(lang: string): void;`

Waiting for a fix, as a workaround (if you still want to use 3.7.2) just rename `import` function in node_modules.

[2018-07-05 09:58] llulani commented on #107
In addition, I'm trying to use this package in an Angular 6 app.

With registerLocale the app is working fine, although I still have the warning as #98 [https://github.com/michaelwittig/node-i18n-iso-countries/issues/98]:

WARNING in ./node_modules/i18n-iso-countries/index.js
46:18-63 Critical dependency: the request of a dependency is an expression

I tried to rename the `import` function (both i

[2018-07-05 15:08] Gpx opened #108 "Impossible to use this module with create-react-app"
I'm trying to use this module with create-react-app but I get a compilation error:

[code]

Following the link brings to this page: https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

Any chance the module could be pre-compiled before it's published?

[2018-07-05 18:03] #98 closed

[2018-07-05 18:04] michaelwittig commented on #98
I reverted the change the was likely the cause of this.

Please use `i18n-iso-countries@3.7.3`

[2018-07-05 18:04] michaelwittig commented on #108
Duplicate of #98
Please use `i18n-iso-countries@3.7.3`

[2018-07-05 18:04] #108 closed

[2018-07-05 18:05] michaelwittig commented on #107
Duplicate of #98
Please use `i18n-iso-countries@3.7.3`

[2018-07-05 18:05] #107 closed

[2018-07-18 09:45] tjconcept opened #109 "The English name of SZ is outdated"
As of the most recent ISO update, the name of SZ has changed.

[2018-07-18 10:35] michaelwittig commented on #109
Hi @tjconcept Could you provide us with the new name?

[2018-07-18 11:55] tjconcept commented on #109
It's in the ISO std.? https://www.iso.org/obp/ui/#iso:code:3166:SZ

[2018-07-31 11:14] sourcecode911 opened #110 "de.json not correct sorted"
Hey  :)

First of all, thanks for this package :) 👍
It would be nice, if kosovo is between "Kongo" and "Nordkorea" in de.json / en.json etc. for correct sort :)

[2018-07-31 11:24] michaelwittig commented on #110
From the JSON spec:

If you need them to be in order, sort them on your own. #84 might help

[2018-07-31 11:24] #110 closed

[2018-08-19 02:57] iWooli opened #112 "Missing countries data"
Hi,
I can see that countries data are missing
- Martinique
- Netherlands Antilles
- South Korea
Best

[2018-08-20 11:00] michaelwittig commented on #112
South Korea is available https://github.com/michaelwittig/node-i18n-iso-countries/blob/master/langs/en.json#L116
Martinique is available https://github.com/michaelwittig/node-i18n-iso-countries/blob/master/langs/en.json#L137

Netherlands Antilles (AN) is missing but under "Transitional reservations" https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Transitional_reservations

Feel free to open a PR

[2018-08-20 11:00] #112 closed

[2018-08-20 11:02] michaelwittig commented on #109
Great. Waiting until someone opens a PR.

[2018-08-20 11:02] #109 closed

[2018-08-20 11:02] #83 closed

[2018-08-20 11:02] #61 closed

[2018-08-20 11:02] #60 closed

[2018-08-20 11:03] michaelwittig opened #113 "Transitional reservations not included"
https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Transitional_reservations

[2018-08-20 11:04] michaelwittig commented on #112
follow up issue #113

[2018-08-20 11:04] #74 closed

[2018-09-30 04:58] skipjack opened #122 "Language Codes"
So I need something very similar to this library, but instead of ISO country codes to countries, I need to map ISO language codes to languages. I love the approach this library takes and I was wondering if...

a. You'd be open to a fork (renamed `node-i18n-iso-languages`).
b. Anyone would be interested in helping on the new package.

I'm happy to take the lead on it, but I figure there might be va

[2018-10-01 08:53] michaelwittig commented on #47
To keep the scope limited, this library consumes `ISO 639-1`. If your format is different, you have somehow to convert it outside of the lib.

[2018-10-01 08:53] #47 closed

[2018-10-01 08:54] michaelwittig commented on #122
feel free to fork. I prefer small packages with a limited scope and not big ones. So a new package makes a lot of sense.

[2018-10-29 04:38] williamli opened #123 "Use IETF language tags"
I think you can extend the current language code to use IETF language tags https://en.wikipedia.org/wiki/IETF_language_tag

en_us = US English
en_gb = UK English

zh_hk = Hong Kong Traditional Chinese
zh_tw = Taiwan Traditional Chinese
zh_cn = Mainland Simplified Chinese

[2018-11-06 19:45] michaelwittig commented on #123
Good catch. According to https://tools.ietf.org/html/rfc5646#section-2.2.1 the primary language subtag is ISO 639-1!

Examples from https://tools.ietf.org/html/rfc5646#appendix-A
`zh-Hant` (Chinese written using the Traditional Chinese script)
`zh-Hans` (Chinese written using the Simplified Chinese script)

[2018-11-06 23:47] williamli commented on #123
In my other projects, we use a simpler form of this (no need in your example, the Hant and Hans section is omitted).

https://en.wikipedia.org/wiki/Language_localisation <https://en.wikipedia.org/wiki/Language_localisation>

I believe most of the internet uses this form.
In Hong Kong, we have
zh-HK for our official Traditional Chinese
and
en-HK for our official English

Example for Chinese

zh-CN

[2018-11-07 07:31] michaelwittig commented on #123
I have no opinion if we should go with `zh-Hans` or `zh-CN`. I only want to keept it backward compatible and we should go with some "standard" to which we can refer in the docs.

Let's wait a few days and see if someone joines the discussion? What is your preferred way?

[2018-11-07 07:54] williamli commented on #123
i prefer zh-CN,
as I said before, this is how most other programmers handles their locale anyway.

https://github.com/umpirsky/locale-list/blob/master/data/rw/locales.php <https://github.com/umpirsky/locale-list/blob/master/data/rw/locales.php>

[2018-12-22 09:47] Bramzor opened #125 "Incorrect statement about using it in nodejs, still require registerLocale"
Following statement seems invalid:

`If you use i18n-iso-countries with Node.js your are done. If you use the package in a browser environment you also have to register the languages you want to use to minimize file size.`

I'm using nodejs and it will show undefined for my queries until I add the countries.registerLocale specifically. I use it in angular like this:
import * as countries from 'i18

[2018-12-24 09:49] michaelwittig commented on #125
You mention that you use Angular which implies that you are running in a browser environment, not Node.js?

[2018-12-24 13:55] Bramzor commented on #125
You are absolutely right! Wow, I don't get how I made such an error. Thanks for pointing out my error 👍

[2018-12-24 13:55] #125 closed

[2019-02-19 08:41] jingfee opened #126 "Macedonia name change"
Since Macedonia now officially has changed their name to North Macedonia, are there any plans for a new release with the updated name?

[2019-05-13 13:03] StephanGeorg commented on #70
Hi @exogen @CarloPalinckx and @michaelwittig

I had exactly the same problem that's why I wrote [iso-countries-lookup](https://github.com/StephanGeorg/iso-countries-lookup). It's based on node-i18n-iso-countries and [countries](https://github.com/mledoze/countries) and has some basic fault tolerance for inputs.

[2019-05-20 11:52] #122 closed

[2019-05-24 06:21] #126 closed

[2019-05-27 20:38] KayakinKoder opened #136 "[Question] ES Module Usage"
Just a question, does anyone use this with an ES module bundler (e.g. Rollup)? I've given it a go and can't get things to work.

Package looks great, thanks.

[2019-05-28 06:06] michaelwittig commented on #136
do you "register" the locals you want to use?
[code]

[2019-06-04 12:56] allankikkas commented on #136
i have the opposite problem - how not to bundle all locales? package.json points to entry-node, which requires all locales and registers them.

[2019-06-15 11:00] piranna commented on #123
API shouldn't change, so supporting all forms is just a matter of having mapping lists...

[2019-07-15 08:13] sourcecode911 opened #140 "German translation is false for 'AQ'"
"AQ": "Antarktika" its the continent
should be "AQ": "Antarktis"

[2019-07-18 08:19] michaelwittig commented on #140
feel free to open a PR to fix it

[2019-07-23 07:34] #140 closed

[2019-08-22 08:21] poppinlp opened #146 "How about supporting create an instance of specified language?"
We need to specify the language code for every time we call some APIs right now.

But in actual use, the language is likely to be constant. So it may easier to use by creating an instance of that language and then call APIs.

What do you think about it? BTW, thanks for such a NICE lib. :)

[2019-08-22 10:57] poppinlp opened #148 "Drop support for Node 6 and 7"
According the [Node release graph](https://nodejs.org/en/about/releases/), we could drop support for Node 6 and 7, so that we could use more ES2015+ features. :)

[2019-10-12 13:49] gajus opened #149 "Does not recognize Russia"
[code]

I presume this is because it is trying to match "Russian Federation". However, it would be nice if this library took into consideration the alternative names too.

[2019-10-12 13:56] gajus commented on #149
I have written a simple local abstraction, it would be nice to have a version of this supported by this library:

[code]

[2019-11-20 05:40] quekqh opened #153 "Incorrect country names being populated"
I'm currently using the getNames('en') method, and I see weird names being populated like "Congo, the Democratic Republic of the", when it's supposed to be "Democratic Republic of the Congo" - it also happens for many other countries like Micronesia and Moldova, etc.

![image](https://user-images.githubusercontent.com/12732739/69212123-54470b80-0b9b-11ea-9c3a-1f6daf2e9b7f.png)

Anyone can enlighte

[2019-11-22 09:10] micksatana commented on #153
It's correct as when people try to search they won't starts searching by "The Democratic Republic of Congo" but start searching with "Congo". And if you want to ordering them by name, they will be sorted with `C` in "Congo, ..." instead of `T` in "The Democratic ..."

[2019-12-02 21:41] Pyrolistical commented on #136
the short answer is package.json sets `"browser": "index"`

[code]

but I think the way to solve this is replace
`countries.registerLocale(require("i18n-iso-countries/langs/en.json"));`
with
[code]

[2019-12-20 21:09] pegasus1982 opened #154 "Cannot find module 'babel-runtime/core-js/object/get-prototype-of'"
I have been developing website with react+webpack.
I installed this module.

But I faced `babel` error

I can't know the reason

This is my package.json file.
[code]

[2020-01-15 15:18] dgivoli opened #157 "Function alpha2ToNumeric returns string but declares "number""

[2020-03-07 12:36] matthiaslischka opened #162 "Vietnam does not work?"
I know, it seems really strange. But `countries.getAlpha3Code('Vietnam', 'en')` returns `undefined`.

Any idea?
BR Matthias

[2020-03-07 12:39] matthiaslischka commented on #162
Ok, seems your commit form 14.01. is not yet published to npm https://github.com/michaelwittig/node-i18n-iso-countries/commit/e5df6747eb36472f34be19b1dc8ccb08e5ad1b9b
"Vietnam" used to be "Viet Nam".

[2020-03-09 09:56] #157 closed

[2020-03-09 09:59] #148 closed

[2020-03-09 10:01] michaelwittig commented on #162
version 5.0.0 is released now

[2020-03-09 10:01] #162 closed

[2020-04-01 19:54] lauzis opened #165 "Vietnamese translations invalid"
Looks like Vietnamese translation is not valid, There is country names but looks like its English version not Vietnamese.
https://github.com/michaelwittig/node-i18n-iso-countries/blob/master/langs/vi.json

Incomperision this is what i got for translation from translator.

Albania | Albania
Andorra | Andorra
Australian Capital Territory (Australia) | Úc
Austria | Áo
Bahrain | Bahrain
Belarus | Bê-

[2020-05-26 19:49] danilofuchs opened #174 "Allow for multiple possible spellings of names of a country"
Currently, the localisation JSON maps strings 1-1. But in some languages, people may spell the country name differently.

I use this library to parse an API response into Alpha-2 codes. But, this external API sometimes uses slightly different spellings from those in this lib, but are completely valid spellings.

For instance, in Portuguese, mapping US to `Estados Unidos da América` is as valid as

[2020-05-27 06:56] michaelwittig commented on #174
I prefer
[code]
for countries where multiple names exist. For countries with a single name we can stick with what we have.

Feel free to create a PR, I will merge it.

[2020-05-27 17:54] danilofuchs commented on #149
https://github.com/michaelwittig/node-i18n-iso-countries/pull/175 allows us to use an array of alternative names

[2020-05-27 18:12] danilofuchs opened #176 "Suggestions for revamping / updating the project"
While working on https://github.com/michaelwittig/node-i18n-iso-countries/pull/175, I came across some thoughts.

This project is now 5 years old, and the last revision of jshint rules was [4 years ago](https://github.com/michaelwittig/node-i18n-iso-countries/commit/ab7848fe31d34b233121b0fe071c06bc151b037c). The JS ecosystem evolved a lot over these years and some new, powerful tooling, is availab

[2020-05-28 06:04] #174 closed

[2020-05-28 06:05] #149 closed

[2020-05-28 06:23] michaelwittig commented on #176
First, thanks for your recent contribution @danilofuchs

I admit that I don't invest a lot of time in this project besides merging PRs. If you are interested in evolving this project I'm more than happy :)

* ES6: I Agree. I think we can even drop node 8 support since it's no longer maintained?
* ESLint: I agree.
* Prettier: I haven't used prettier. I don't have any opinion here. Let's follow your

[2020-05-28 22:21] danilofuchs commented on #176
Nice! I will write some PRs. Tell me what you think about it.

[2020-06-05 19:59] ibarrae opened #184 "Incorrect types for some functions?"
First of all, thanks for the library has been really helpful :tada:.

On a project I have been working, we have found out that at least `getAlpha3Code` and `alpha2ToAlpha3` return types are `undefined | string` even though in `index.d.ts` both return types are `string`.

[2020-06-08 09:45] michaelwittig commented on #184
You are right. Do you feel comfortable providing a fix?

[2020-06-08 12:48] ibarrae commented on #184
Sure, I can work on a fix in the upcoming days :+1:

[2020-06-08 16:03] jsgoupil commented on #174
This is a sad breaking change. At least it's in 6.0.0.
Maybe on the readme, you could show an example that getNames might not return just a string.
I have to do something with type matching like this. It's a little painful :(

[code]

[2020-06-11 15:33] rondonjon opened #185 "Add "Zambia" to de.json"
Current name is `"Sambia"`, currently breaking an API import for me.
Since alternative names are now possible, please kindly change to `["Sambia", "Zambia"]`

[2020-06-12 12:41] michaelwittig commented on #185
feel free to open a PR

[2020-06-12 12:41] #185 closed

[2020-06-30 01:34] jsgoupil opened #186 "Does not work well with Angular 10"
Somehow, your project does not load properly with Angular 10. I used your project forever and starting Angular 10, I get the following error:

[code]

I load the code like this:

[code]

It used to work great. Now I try to use your method by using "require" and it doesn't work either.

![image](https://user-images.githubusercontent.com/808649/86072691-00f14180-ba37-11ea-9699-d72717d0f756.png)

See

[2020-07-01 04:22] Chantelle-zhang opened #187 "American Samoa in indonesian should be 'samoa amerika'"
current the American Samoa in indonesian in your package is Amerika Serikat, which is not right, should be  'samoa amerika'

[2020-07-01 19:10] michaelwittig commented on #187
Hi @Chantelle-zhang
could you create a PR with a fix?

[2020-07-29 19:28] danilofuchs opened #190 "Fix broken compatibility of getNames"
This is an issue generated from this comment by @sebastien-prudhomme: https://github.com/michaelwittig/node-i18n-iso-countries/pull/175#issuecomment-638812851

Since https://github.com/michaelwittig/node-i18n-iso-countries/pull/175, `getNames` is not following the expected behaviour.
It may return either a name or a names array. This can break integrations and may require weird code to handle this

[2020-08-10 18:24] ctwomblyamzn opened #192 "Comoros is コモロ in Japenese, not 小諸"
See https://github.com/michaelwittig/node-i18n-iso-countries/blob/master/langs/ja.json#L51.

That string is in Chinese, not Japenese. It should be コモロ

[2020-08-19 21:59] KingDarBoja commented on #186
I have been using this on Angular 10 by following the same steps like the StackOverflow link. The only difference I have on my setup is calling `i18nIsoCountries.registerLocale(require('i18n-iso-countries/langs/en.json'));` on my component constructor instead of the ngOnInit hook.

[2020-09-08 09:18] Betree opened #193 "Incompatibility with IE11"
Hello,

Our bug tracker noticed a recurring error on IE11 (and some other old browsers that don't support arrow functions):

![image](https://user-images.githubusercontent.com/1556356/92457126-2089b080-f1c4-11ea-8c78-7fbc266c8fa7.png)

These arrow functions were introduced in https://github.com/michaelwittig/node-i18n-iso-countries/pull/175, before that we were not noticing any error coming from t

[2020-09-21 07:00] Betree commented on #193
The fix made in https://github.com/michaelwittig/node-i18n-iso-countries/pull/194 is actually not enough, we now get an error for `Const must be initialized`.

How would the maintainers feel about transpiling the code with Babel or Typescript? I'd be happy to work on that topic, but would love to get some directions on which approach you prefer before doing so.

![image](https://user-images.github

[2020-09-25 14:41] rondonjon opened #195 "New release?"
When are you planning to have the next release?

I see that alternative country name support has been added to some languages now, e.g. DE on May 30, but they're still not available via npm because the last release was on May 28.

Thanks

[2020-09-26 16:30] rondonjon opened #196 "DE: missing Hong Kong"
The DE dataset should contain Hong Kong as an alternative spelling.

[2020-09-28 06:58] michaelwittig commented on #195
Good point! I just released v6.1.0.

[2020-09-28 06:58] #195 closed

[2020-10-06 07:52] nitruxa opened #200 "Great Britain vs United Kingdom"
Using this great project for sports app, and according to IOC (International Olympic Committee) `GBR` should stand for `Great Britain`, instead of `United Kingdom`. 👉  https://www.olympic.org/great-britain

Is this has to be fixed though, or added an IOC support? 🤔

[2020-10-06 09:33] michaelwittig commented on #200
I suggest that you add it as an alternative name:

`"GB": ["United Kingdom", "UK"]` => `"GB": ["United Kingdom", "UK", "Great Britain"]`

[2020-10-06 12:35] PPInfy commented on #200
Can I take this PR @michaelwittig ?

[2020-10-06 12:45] capc0 commented on #186
FYI this is how I am doing it in angular 10:

[code]

in the tsconfig.json I have ```"resolveJsonModule": true```  enabled

[2020-10-06 13:10] michaelwittig commented on #200
sure, thanks @PPInfy

[2020-10-06 13:10] #200 closed

[2020-10-06 14:38] nitruxa commented on #200
@michaelwittig I'll do Russian and Lithuanian languages PR later today 👍

[2020-10-06 14:42] KingDarBoja commented on #186
You can also use it as ES Modules by using #188 PR or https://github.com/lula/-ngx-countries (which is slighty outdated but works pretty well).

[2020-10-12 09:48] xevenheaven commented on #192
Above issue is fixed in #202. @michaelwittig please take a look. 😄

[2020-10-15 13:06] #192 closed

[2020-10-19 16:08] tibito commented on #200
Like @nitruxa said, this is a great project and I'm thinking using it for a sport's app as well, but I require IOC codes: https://simple.wikipedia.org/wiki/Comparison_of_IOC,_FIFA,_and_ISO_3166_country_codes.
Any plans to include them as a different code or, if I want to add them in my project, should they all be alternative names like @michaelwittig mentioned?

[2020-10-20 08:26] michaelwittig commented on #200
@tibito I think you better write a tiny wrapper module that translates from IOC codes to ISO 3166 and vice versa before/after calling this module.

[2020-10-20 14:42] ngdangtu-vn commented on #165
May I do this?
Also, should I use the transcript of just keep it as English one? Like Afghanistan -> Áp-ga-ni-xtan? The transcript isn't common so people may misunderstand.

[2020-10-20 15:38] ngdangtu-vn commented on #190
May I fix this issue? Today is late, so I will fix it and PR tomorrow.

[2020-10-20 16:18] michaelwittig commented on #190
@ngdangtu-vn sounds good!

[2020-10-20 16:20] #165 closed

[2020-10-23 08:25] enorvaisa opened #208 "EN: fix Heard Island and Mcdonald Islands name"
Correct name should be "Heard Island and McDonald Islands" (capital D)

[2020-10-23 09:38] #208 closed

[2020-10-23 09:38] michaelwittig commented on #208
see #209

[2020-10-23 09:40] #190 closed

[2020-10-23 13:28] vsulak opened #210 "Typescript build error"
Cannot build library version 6.2.0 on Typescript. Version 6.1.0 works

Node: 12.19.0
TS: 3.9.7
Library: 6.2.0

[code]

[2020-10-23 14:27] michaelwittig commented on #210
Cc  @ngdangtu-vn

[2020-10-23 15:30] kuatek commented on #210
Same error here. downgrading to v4.3.1

[2020-10-24 03:49] ngdangtu-vn commented on #210
Sorry about this, I'm on it.

[2020-10-24 07:26] #210 closed

[2020-10-24 07:30] michaelwittig commented on #210
@vsulak can you try version 6.2.1 ?

[2020-10-24 09:33] vsulak commented on #210
Yes, I can build 6.2.1 on TS. Thank you.

[2020-10-24 10:30] ngdangtu-vn commented on #210
@vsulak
Thank you for your patient 😁

[2020-10-26 07:30] michaelwittig commented on #184
PR in #198

[2020-10-27 11:05] Oupsla opened #212 "Incompatible with webpack"
Hello folks,

I'm using this project and I build it with webpack to send it in a lambda (aws).

Since this [PR](https://github.com/michaelwittig/node-i18n-iso-countries/pull/147) I unfortunately got a runtime error because this package tries to read the node_modules folder that doesn't exists (everything is wrapped into one file) and I get : `"ENOENT: no such file or directory, scandir 'node_modul

[2020-10-27 12:48] joakimsandstromfinnair commented on #212
We're facing the same issue with webpack packaged AWS Lambdas, so we also had to revert this package update. Would be nice to get a webpack compatible version.

Or then some workaround how to get it functioning with webpack.

[2020-10-27 14:32] michaelwittig commented on #212
I reverted #147 and released version 6.2.2

[2020-10-27 14:32] #212 closed

[2020-11-02 07:46] the-wrong-guy opened #213 "Country to Code shows undefined"
While running the same code you provided in React, it consoles logs undefined

[2020-11-02 18:15] #213 closed

[2020-11-12 15:27] kristiannotari opened #214 "getAlpha3Code crash trying to call unexisting getAlpha2Code function on this"
Environment: Node v14.15.0
package version: 6.2.2

My code:
[code]

Error:
[code]

Possible explanation:
I looked into the code within node_modules and it seems like you're trying to call `this.getAlpha2Code` from the `getAlpha3Code` function, resulting in the above error. It seems to me that `this` in that scope has not `getAlpha2Code` function declared, since it's just defined during `export.get

[2020-11-12 15:45] kristiannotari commented on #214
Small update

It used to work before I made some changes to the code. I changed the import of the lib from `import * as x from 'i18n-iso-countries'` to `import { getAlpha3Code } from 'i18n-iso-countries`.

Is it supposed to be a normal/correct behaviour?

[2020-11-12 16:10] michaelwittig commented on #214
We should get rid of those this references and it should work "better". Feel free to open a PR

[2020-11-17 14:00] avine opened #215 "Missing the list countries for zh-TW which is different from zh-CN."
Currently, only "zh" is available, which correspond to "zh-CN" (Simplified Chinese).
Would be nice to have also "zh-TW" (for Taiwan - Traditional Chinese).

[2020-11-17 16:39] avine commented on #215
And here it is:

[code]

[2020-11-19 21:28] KingDarBoja commented on #176
I like the idea of switching into TypeScript, which isn't too hard with the current codebase.

Also the library could support ISO 3166-2, which handles countries subdivisions. These should come as well from official sources besides Wikipedia as I have done in a [similar library for Nim lang](https://github.com/KingDarBoja/Iridium/tree/master/src/data).

Cheers!

[2020-12-12 04:17] KingDarBoja commented on #113
I would avoid adding those transitional reserved countries as would require keeping an eye of any ongoing change and can be confusing if there is ever going to be support of old countries that disappeared or got renamed.

[2020-12-12 15:22] #214 closed

[2020-12-16 12:50] mvela-payvision commented on #193
Hi team, we experienced the same problem. Is there any update on this issue?

[2020-12-16 12:58] KingDarBoja commented on #193
I assume this can be solved via #218

[2021-02-10 17:40] xavierlepretre opened #230 "It is missing Netherlands Antilles "AN""
As found here https://www.nationsonline.org/oneworld/netherlands_antilles.htm

[2021-02-11 09:01] michaelwittig commented on #230
AN entry was deleted from ISO 3166-1 in 2016

see https://www.iso.org/files/live/sites/isoorg/files/archive/pdf/en/iso_3166-1_newsletter_vi-8_split_of_the_dutch_antilles_final-en.pdf

[2021-02-11 09:01] #230 closed

[2021-02-16 08:49] ZaidBarghouthi opened #233 "Country names in Arabic [AR] start with a needless space"
Hello,
![image](https://user-images.githubusercontent.com/26728749/108038970-25407380-7044-11eb-8b95-55d47e9c1012.png)

I have noticed that country names in Arabic have a space at the beginning (all except TT) and VA has 2 spaces at the begining!

[2021-02-19 06:58] #233 closed

[2021-02-19 06:59] michaelwittig commented on #233
Thanks for the fix!

[2021-03-20 18:33] artemoo opened #236 "SU - USSR"
Please add.

https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#SU

[2021-03-20 20:35] KingDarBoja commented on #236
This library only contains country names from ISO-3166 that are officially asigned to countries, territories, or areas of geographical interest.

The USSR code now belongs to ISO 3166-3.

[2021-04-14 08:59] FrittenKeeZ opened #241 "FR: Add flag emoji to countries, and countries.getCountries() to get a list of all properties"
Like this country package: https://github.com/OpenBookPrices/country-data
The flag emojis can fx. be used visually in a select.

Also getting a list of countries with both alpha2, alpha3, numeric, name and flag would be really nice.

[2021-04-14 09:18] korbav commented on #241
If ever we step into that, I'm not sure emojis should be the way to go, there are still many compatibility issues :

- [http://caniemoji.com/os-x/](http://caniemoji.com/os-x/)
- [http://caniemoji.com/microsoft-windows/](http://caniemoji.com/microsoft-windows/)

The most universal/extensible way to do so would probably be relying on SVG data which is light and widespread.

But I'm guessing the real

[2021-04-14 17:20] KingDarBoja commented on #241
I agree with keeping this package focused on only one exclusive feature.

Speaking of country flags, I am making my own library for supporting those flags per source: [ngx-nations](https://github.com/KingDarBoja/ngx-nations).

Don't get confused by the name, it is like that because I was going to make only an angular wrapper lib of `i18n-iso-countries` but flag will be in their own packages with t

[2021-05-03 17:44] roselily8 opened #243 "best way to return 2-letter code and full name for United States, Canada and localized names"
Hi I am new to this module. What is the best way to return the 2-letter country code and full country name.

I prefer United States for US.

Also, how to return the localized names for traditional Chinese and simplified chinese?

[2021-05-24 17:11] yasamoka commented on #241
I found this function somewhere and I'm currently using it in my project:

[code]

Wouldn't this solve the problem? Or am I missing something?

[2021-05-24 17:19] korbav commented on #241
You're partially right, this is a very good point that you raised, the only problem I see with such an emoji-based function is that not all platforms are compatible with emojis [http://caniemoji.com/os-x/](http://caniemoji.com/os-x/)

This is also why many libraries are using SVG icons instead.
I guess it's just a matter of time to forget about this compatibility issue, as it's always been for oth

[2021-05-24 17:22] yasamoka commented on #241
Right, I see. Thank you very much for the quick response!

[2021-06-08 16:42] HannaSanford commented on #186
This isn't ideal as it doesn't allow for importing the languages dynamically

[2021-08-02 15:23] mrleblanc101 commented on #241
OS X 10.10 and Windows 8.1 which both support Emoji in all browser were released more than 8 years ago

[2021-08-02 15:37] mrleblanc101 commented on #84
I suggest only doing a localCompare on the first letter if you want country with accented character in their name to be grouped togerther.

Without `chartAt(0)`:
<img width="414" alt="Capture d’écran, le 2021-08-02 à 11 36 21" src="https://user-images.githubusercontent.com/17392251/127887192-23cc6b03-c208-4d43-86c5-35cffe0cd9a2.png">

With `charAt(0)`:
<img width="412" alt="Capture d’écran, le

[2021-08-02 16:03] mrleblanc101 commented on #84
Nvm this actually create more problem as the now the second letter is not taken into account for country that start with the same letter. I'm looking to sort alphabetically but accented country should have their own grouping.

[2021-08-02 16:13] mrleblanc101 opened #253 "`select: "official"` option is not documented"
Would it be possible to add documentation for all options ?
What value does `select` accept ? What purpose does it serve ?

[2021-09-09 23:42] Psycarlo opened #256 "Feature request: function to return supported languages (ISO 639-1)"
It would be great have a function that returns the supported languages (ISO 639-1 format).

`
countries.getSupportedLanguages();
// ['af', 'am', 'ar', ... ]
`

Thanks.

[2021-09-28 13:21] osdiab opened #258 "TypeScript typings too optimistic"
Some of the function types say that they'll return a string, but in fact often return `undefined`.

For example, if you use `getAlpha2Code("Laos", "en")`, then in fact you get `undefined`, not the stated `string` return type, because you were supposed to type `Lao People's Democratic Republic` (the fact that `Laos` doesn't match is a separate issue).

I'm willing to make a PR that makes these type

[2021-09-28 13:26] michaelwittig commented on #258
duplicate of #184 ?

[2021-09-29 06:09] osdiab commented on #258
ah yeah duplicate - I'll push a pr to fix it! That one looks stale and I can do even better :)

[2021-09-29 06:09] #258 closed

[2021-10-21 14:39] JESUMH opened #260 "Problem when read Google data map"
Hi,

I install i18n-iso-countries on my project and we are showing firebase data. Firebase send to us United States but the libary can only process United States of America.

On the other hand, we can receive (not set) data and this can not be process.

Could the library process (not set) and united states?

[2021-11-04 22:05] Priya-dev opened #263 "getNames is not working with react"
I am new here and I am trying to populate the dropdown for countries.
The log shows an empty object. Am I missing something here

[code]

[2021-11-05 01:56] korbav commented on #263
Hi @Priya-dev ,

It actually does work well, at least in React 17.0.2 :
![image](https://user-images.githubusercontent.com/6184386/140445173-cebbe5c3-e475-4cae-9ff4-0f8d129b02d7.png)

I'm almost sure you forgot to register the 'en' locale beforehand: `countries.registerLocale(require('i18n-iso-countries/langs/en.json'));`

If registering the 'en' language doesn't give any positive outcome, please

[2021-11-05 19:18] Priya-dev commented on #263
Yes, @korbav. That worked!! Thanks for your time.

[code]

[2021-11-17 09:05] #253 closed

[2021-11-19 05:57] AlexanderSchoenfeld opened #266 "Hong Kong and Taiwan issue"
Hi!

One of our customers came to us saying chinese customers are complaining about the country naming for `Hong Kong` and `Taiwan`.
Would it be possible to change these to `Hong Kong, China` and `Taiwan, China`?

We are currently getting all country names with `countries.getNames()`.
If a general change is no good, how about adding an option like `{select: "china"}`?

I guess other users of this

[2021-11-19 06:26] korbav commented on #266
Hi @AlexanderSchoenfeld,

Just to let you know, this request is not really a naive request from your customer and this request is correlated to one of the tensest geopolitical conflicts in the world.

My advice for you, if you agree to satisfy your customer's request, would be to manually remap the names. This is quite easy if you base to rely on the ISO codes, you can then name these countries wh

[2021-11-19 07:24] AlexanderSchoenfeld commented on #266
Yeah, I know this is a geopolitical issue and I'm personally also not very happy about this change request.
Would it make sense to add these two as alias so the library could at least parse it?

[2021-11-19 09:23] korbav commented on #266
That would be an option but would imply somehow to take a political stance, which doesn't sound quite legitimate with regards to the purpose of the library.

Could you rather use such a snippet ?

[code]

[https://codesandbox.io/s/damp-microservice-e42xc?file=/src/index.js:0-327](https://codesandbox.io/s/damp-microservice-e42xc?file=/src/index.js:0-327)

[2021-11-19 10:03] michaelwittig commented on #266
See #255 #231 #16 ...

This lib uses the name as defined here https://www.iso.org/obp/ui/#iso:code:3166:TW

I'm well aware of the political issues behind this discussions but I'm not going to solve them in this lib. Anyone is free to create a fork with other names.

[2021-11-19 10:03] #266 closed

[2021-12-14 09:25] #256 closed

[2021-12-14 19:21] sowinski opened #269 "Feature-Request: Add also languages"
Hi,

this package works fine. Wondering if it would possible to add a list of all languages with translations?
Is there somewhere another package which has all languages with translations?

Thank you

[2021-12-15 12:31] michaelwittig commented on #269
I suggest to create a new package for languages.

[2021-12-15 12:31] #269 closed

[2021-12-19 07:02] fsproru opened #270 "Error: Cannot find module './langs/cy.json'"
Getting the above error in Lambda. Happens on the initial load. Looking at the code, it's just `cy` happens to be the first element in the array of supported languages which gets loaded in [entry-node.js](https://github.com/michaelwittig/node-i18n-iso-countries/blob/94536716a5f3c220c1ba98659519ce6ac950f435/entry-node.js#L6).

Is there a way to specify only the language we need so we don't have to

[2021-12-28 06:14] bahriddin opened #272 "Uzbek cyrillic names"
Hi,

thanks a lot for the project. I am thrilled to see Uzbek translation here but as you may know ([link to Wikipedia](https://en.wikipedia.org/wiki/Uzbek_alphabet) in case if you don't) we have 2 alphabets which we actively use: **latin** (which you already have) and **cyrillic**.
It would be great if there is a cyrillic version as well and I can create a PR. Only thing is I don't know how to ad

[2021-12-28 08:46] michaelwittig commented on #272
Hi! There seems to b only one ISO 639-1 code for the language. We don't support languages outside of ISO 639-1 at the moment.

Adding a language is described here: https://github.com/michaelwittig/node-i18n-iso-countries#contribution

[2021-12-28 08:57] bahriddin commented on #272
Yeah, that's why I was confused and created an issue.
Anyway, that's fine: I solved it for my case.

Thanks for the quick response.

[2021-12-28 08:57] #272 closed

[2022-01-31 18:53] iamleeg opened #278 "Congo is listed twice"
Both the Democratic Republic of the Congo and the Republic of the Congo have "Congo" as a possible name in the English data. While this reflects reality, and both countries are colloquially called "The Congo" or "Congo", the library will always return the first one it encounters. It should probably return both or neither and make the developer do more work, otherwise it's just going to erase one o

[2022-01-31 19:14] michaelwittig commented on #278
Hi! Are you referring to the change made in #276 ? According to [this logic](https://github.com/michaelwittig/node-i18n-iso-countries/blob/master/index.js#L68-L90), the official name must be first, the alias second. The entry for `CD` should be `["Congo", "Democratic Republic of the Congo"]`.
Let me know if that addresses your issue.

[2022-01-31 19:28] #263 closed

[2022-01-31 19:29] #241 closed

[2022-01-31 19:29] #236 closed

[2022-02-01 10:13] iamleeg commented on #278
I mean that this line:

    console.log(countries.getAlpha2Code('Congo', 'en'));

logs `CG` when it could also be `CD`. Switching which one it returns wouldn't help, because the point is that there _isn't_ a single country with the name "Congo". Returning `['CD', 'CG']` makes sense, throwing makes sense, I do not think returning one or the other is a good idea.

[2022-02-01 19:18] michaelwittig commented on #278
I get your point.

[2022-02-14 10:24] asode opened #279 "Jest: `TypeError: Cannot read property 'registerLocale' of undefined`"
Hi, I was wondering what am I doing wrong here as I'm trying to test my component with `jest`. In browser it works fine. Should I somehow exclude the language imports from `jest` run as it doesn't run in a browser (just speculating)?
[code]
[code]

<details><summary>import countries from "i18n-iso-countries"</summary>
<p>

[code]

Jest outputs the following error:

[code]
</p>
</details>

---

Als

[2022-02-23 11:03] Gurochka commented on #279
Another solution is to add a root path to the jest.config.js file:
` roots: ["<rootDir>/src", "<rootDir>/node_modules/i18n-iso-countries"].`
 That worked for me.

[2022-03-21 10:25] floriankdrone opened #282 "ES: Incorrect country translations"

[2022-03-21 10:26] #282 closed

[2022-04-19 08:11] rokf opened #285 "Missing v7.4.0 tag"
Hi,

Could you please create and push a **v7.4.0** tag? The version [exists on NPM ](https://www.npmjs.com/package/i18n-iso-countries/v/7.4.0) but it's missing the tag on GitHub.

Thank you 😄

[2022-04-19 19:13] michaelwittig commented on #285
Sorry. I forgot to push the tag... Thanks for reporting this @rokf

[2022-04-19 19:13] #285 closed

[2022-05-09 14:17] leonardogonfiantini opened #287 "Missing Monegasque nationality in en dictionary"
When i attempt to use the function nationalities.getAlpha2Code("Monegasque", 'en') the function return undefined although it should return "MC".

[2022-05-09 14:25] #287 closed, assigned to nobody

[2022-06-23 07:35] michaelwittig commented on #270
@bvanderdrift I see. Not sure why I thought that files have been removed from the langs folder. How do you deploy your Lambda function? Any framework like SAM, Serverless Framework, ...

[2022-06-23 08:58] bvanderdrift commented on #270
@michaelwittig we use Serverless indeed. I've done some digging before I found my own workaround but couldn't find any history of Serverless deleting/omitting certain files types/folders which might've accidentally deleted the files in the `langs` folder. There must be something funky going on though.

[2022-06-23 09:15] michaelwittig commented on #270
@bvanderdrift I see. It would be interesting to see if the langs/*.json files are in the artifact that serverless creates and uploads to S3.

[2022-06-23 09:32] bvanderdrift commented on #270
@michaelwittig I went into the deployed server, and found that all code (including npm packages) seems to have been included into a single minified file. My

```import supportedLocales from 'i18n-iso-countries/supportedLocales.json';```

statement seems to have been imported successfully, so the fact that the `langs` files are jsons shouldn't be the problem.

I almost wonder if this is because the

[2022-06-23 09:41] michaelwittig commented on #270
this could be related to #212

[2022-06-23 10:32] simon-neusoft commented on #270
I don't know any bundler (e.g. webpack, [esbuild](https://github.com/evanw/esbuild/issues/56)) that supports dynamic require like in this case with a for loop.

We are still using 7.1 which has all requires statically. So pre #268. Issue #212 has a similar result as a bundler wouldn't handle fs.* calls.

Only solutions, if you want to support bundlers,  I can currently think of is to either, just

[2022-07-04 09:12] fpolic-profico opened #300 "Add country calling codes"
It would be great if the library would also provide country calling codes. For example: +1 for USA, +44 for UK, +49 for Germany, etc.

[2022-07-19 09:15] dcxn opened #301 "Turkey officially changed name to Türkiye"
https://www.iso.org/obp/ui/#iso:code:3166:TR

[2022-07-19 10:12] #301 closed

[2022-09-02 13:50] ahmedmhadhbi opened #306 "Overwrite country name"
Hello community, just wanted to know what is the most optimal way to overwrite a country name when getting it using the getName function ? Thanks

[2022-09-02 14:39] michaelwittig commented on #300
I prefer to keep the scope of the lib limited to what we have today. Feel free to create a new lib that deals with calling codes.

[2022-09-02 14:39] #300 closed

[2022-10-03 16:29] bastiW opened #308 "Support ISO 639-2/B - DEU works but not GER"
Support for ISO 639-2  would be awesome :)

As you can see in that [list](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) some codes vary.

Example Germany:

[code]

Current behavior
[code]

Should result in:
[code]

[Stackbliz Demo](https://stackblitz.com/edit/node-fvjim5?file=index.js
)

[2022-10-12 08:22] leehaoyue opened #309 "Missing the Country Netherlands Antilles"

[2022-10-12 08:26] leehaoyue commented on #309
transformCode.alpha2ToAlpha3('AN') => undefined

[2022-10-12 11:25] michaelwittig commented on #309
[code]

What version are you using?

Can you double check that `undefined` is not the return of console.log but what is printed to stdout?

[2022-10-23 15:15] svsool opened #310 "ESM, Import fails with "The requested module 'i18n-iso-countries' does not provide an export named 'toAlpha2'""
Hi, thanks for this library.

Importing any utility from this library using ESM modules (`"type": "module"` in package.json) fails with the following error:

![image](https://user-images.githubusercontent.com/1452141/197400130-97077e43-643c-4b40-bfe3-336a531bb07d.png)

I assume that's because `entry-node.js` defines `module.exports` dynamically.

This is how I use it: `import { toAlpha2 } from 'i1

[2022-10-23 16:39] svsool commented on #310
Resolved it via `const { toAlpha2 } = (await import('i18n-iso-countries')).default;`, it would be good though to use it without side effects.

[2022-10-23 16:39] #310 closed

[2022-11-01 05:51] leehaoyue commented on #309
thanks，the version is 7.5.0

[2022-11-15 11:49] maxkre96 opened #313 "Alias for South Korea"
Currently, in version 7.0 the  english name of south korea following ISO 3166/MA is not accepted by the package.

Current Behavior:
i18nIsoCountries.getAlpha2Code("Korea, Republic of") -> undefined
i18nIsoCountries.getAlpha2Code("Republic of Korea") -> undefined
i18nIsoCountries.getAlpha2Code("South Korea") -> KR

Expected Behavior:
i18nIsoCountries.getAlpha2Code("Korea, Republic of") -> KR
i18nIs